= form_for @whiteboard_photo, url: whiteboard_photos_path, html: { multipart: true } do |f|

  - if @whiteboard_photo.errors.any?
    .error
      - msg = @whiteboard_photo.errors.first.last
      = msg

  = f.file_field :photo
  = f.submit 'Upload!'
